@charset "UTF-8";
 		*{
    padding: 0px;
    margin: 0px;
    background-color: #F0F2F1;
    }
    .frame{
     width: 1000px;
    margin: 0 auto;
    }
    header{
    background-color: #BCBFA3;
    height:130px;
    text-align: center;
    line-height: 130px;
    font-size: 30px;
    }
    header> h1 {
    color: #8C5B49;
    }
    nav{
    background-color: #BCBFA3;
    height: 30px;
    }
    nav>ul{
      background-color: #BCBFA3;
		overflow: hidden;
		list-style: none;
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
	}
	
		nav>ul>li{
		background-color: #BCBFA3;
		float: left;
		padding: 5px 20px;
	}
  /* 옆 */  
    aside{
    width: 330px;
    background-color: #72734F;
    float: left;
    }
    
		aside>form{
		position: relative;
		border: 1px solid black;
		width:270px;
		left: 35px;
		top: 10px;
		}
    #login{
    position: relative;
    width: 100px;
    height: 30px;
    left: 20px;
    }
    #join{
    position: relative;
    width: 100px;
    height: 30px;
    top: -21px;
    left: 190px;
    }
       
    .contents{
    width:670px;
    float: left;
    background-color: #F0F2F1;
    }
    footer{
    background-color: #BCBFA3;
    clear: left;
    height: 50px;
    text-align: center;
    line-height: 50px;
    }
    
 